<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.2.859" />
  <package id="Autofac.Mvc3" version="2.6.2.859" />
  <package id="CommonDomain" version="1.4.0" />
  <package id="EventStore" version="3.0.11326.44" />
  <package id="EventStore.Serialization.Json" version="3.0.11326.44" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="NHibernate" version="3.3.0.4000" />
</packages>