<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="Iridio">
      <section name="Smtp" type="Iridio.Infrastructure.SmtpSectionHandler, Iridio.Infrastructure" />
      <section name="Email" type="Iridio.Infrastructure.EmailSectionHandler, Iridio.Infrastructure" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EventStore" connectionString="Data Source=.\SqlExpress;Initial Catalog=IridioMembershipProviderCQRS;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ReadModel" connectionString="Data Source=.\SqlExpress;Initial Catalog=IridioMembershipProviderCQRS;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <Iridio>
    <Smtp host="localhost" port="25"></Smtp>
    <Email serviceFrom="no-reply@samplesite.it" serviceAlias="Sample site"></Email>
  </Iridio>
  <system.web>
    <globalization culture="IT-it" uiCulture="IT-it" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime maxRequestLength="20000" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" redirectMode="ResponseRewrite">
      <!--<error statusCode="404" redirect="~/page-not-found"/>-->
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="IridioMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="IridioMembershipProvider" type="Iridio.MembershipProvider.IridioMembershipProvider, Iridio.MembershipProvider" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" applicationName="Iridio" requiresUniqueEmail="true" connectionStringName="" passwordAttemptWindow="10" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonAlphanumericCharacters="0" passwordStrengthRegularExpression="" passwordFormat="Encrypted" />
      </providers>
    </membership>
    <machineKey validationKey="BBBC34E38A955F556224FD5B3B289E99B0AC0DC6D73EACAA490F1D383E63E213354FDA5B80C9C33F276C7FCF5F42B3FD98945264D31046AA2AABB07D89E98C32" decryptionKey="4DD90E1DAD0652CDE8621A963097CB9EBF9496E6051449E512BC9E6EA4175134" validation="SHA1" decryption="AES" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>