<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <membership defaultProvider="IridioMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="IridioMembershipProvider" type="Iridio.MembershipProvider.IridioMembershipProvider, Iridio.MembershipProvider" 
             enablePasswordRetrieval="true" 
             enablePasswordReset="false" 
             requiresQuestionAndAnswer="false" 
             applicationName="TestApp" 
             requiresUniqueEmail="true" 
             minRequiredNonAlphanumericCharacters="0" 
             connectionStringName="" 
             passwordStrengthRegularExpression="" 
             passwordFormat="Clear" 
             writeExceptionsToEventLog="True" />
      </providers>
    </membership>
    <machineKey validationKey="7D30287B722BF7141915476F0609FFD604CBB5243D8574F85BA5B496FA58D3EE49A8CE1E07E958F145967495A56E5B6298082070C0488F7B4FC42EDE9956422E" decryptionKey="0A5D40CA5C48726556180200D9DBE44A8FE58A8E6A3E8CC153BFC631833BA0FE" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>