<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Iridio">
      <section name="Smtp" type="Iridio.Infrastructure.SmtpSectionHandler, Iridio.Infrastructure" />
      <section name="Email" type="Iridio.Infrastructure.EmailSectionHandler, Iridio.Infrastructure" />
    </sectionGroup>
  </configSections>
  <Iridio>
    <Smtp host="mysmtp" port="25"></Smtp>
    <Email serviceFrom="no-reply@samplewebsite.com" serviceAlias="sample wbsite"></Email>
  </Iridio>
  <connectionStrings>
    <add name="EventStore" connectionString="Data Source=.\SqlExpress;Initial Catalog=Iridio;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ReadModel" connectionString="Data Source=.\SqlExpress;Initial Catalog=Iridio;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>